* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*  */
.contact-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-family: "Poppins";
  background-color: transparent;
  font-size: 13px;
  font-weight: 400;
  color: white;
}
.contact-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
/* Navbar Styling */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: flex-start;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  font-family: "Poppins", sans-serif;
  background: transparent;
  color: white;
}

.logo {
  font-family: "Iceberg", cursive;
  font-size: 24px;
  color: #fff;
}

.nav-links ul {
  display: flex;
  gap: 24px;
  list-style: none;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  transition: color 0.3s ease;
}
#home-font-color {
  color: #ff6900;
  font-weight: 500;
}

.search-cart-login {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 16px;
}

/* Hero Section */
.hero {
  background-image: url("./image 3.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/* hero content */
.hero-content {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  max-width: 500px;
}

.hero-label {
  color: #e6e9ee;
  font-size: 20px;
  font-weight: 400;
}

.hero-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 110%;
}

.hero-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.hero-content button {
  background-color: #ff6900;
  color: white;
  padding: 16px 32px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
}
/* cards materila */
.cards-materials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
}
.card {
  background-position: no-repeat;
  background-size: cover;
  width: 400px;
  height: 197px;
  color: #fff;
}
.card-content {
  display: flex;
  flex-direction: column;
  padding: 40px 0px 0px 20px;
  gap: 20px;
  font-family: "Poppins";
}
.card-content p {
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  gap: 12px;
}
.card-content-inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card-content h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}
.card-content img {
  width: 120px;
  height: 1px;
}
.first {
  background-image: url("./image\ 13.png");
}
.second {
  background-image: url("./image\ 11.png");
}
.third {
  background-image: url("./image\ 12.png");
}
/* items cards */
.items-section {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Poppins";
   padding: 100px 0;
}
.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 20px;
}
.items-heading {
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.items-heading h1 {
  font-size: 48px;
  font-weight: 600;
  color: #18130f;
}
.items-heading h5 {
  font-size: 16px;
  color: #ff6900;
}
.items {
  width: 225px;
  height: 282px;
  padding: 0px 10px 0px 10px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.items-content {
  font-family: "Poppins";
}
.items-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 500;
}
.items-text h3 {
  font-size: 16px;
}
.items p1 {
  font-size: 13px;
  font-family: "Poppins";
  font-weight: 400;
}
/* reviews */
.reviews-section {
  max-width: 1190px;
  margin: 0 auto;
  font-family: "Poppins";
   padding-bottom: 100px; 

  /* background-color: #ff6900; */
}
.reviews-main-heading{
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.reviews-main-heading h1 {
  font-size: 48px;
  font-weight: 600;
  color: #18130f;
}
.reviews-main-heading h5 {
  font-size: 16px;
  color: #ff6900;
}

.reviews-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 10px;
  /* background-color: aqua; */
}
.review {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 24px 0px 20px 24px;
  width: 380px;
  /* height: 262px; */
  flex-shrink: 0;
  background-color: #fff;
  color: #001331;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}
.review-heading {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  gap: 16px;
  font-family: "Poppins";
}
.review-heading h1 {
  font-size: 24px;
  font-weight: 600;
}
.review-heading h5 {
  color: #9d9996;
  font-size: 13px;
  font-weight: 400;
}
.review p {
   font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  color:#9D9996 ;
}
.review-stars{
  padding-top: 24px;
}
/* Mobile Friendly */
@media (max-width: 1024px) {
  .hamburger {
    display: block;
    position: absolute;
    left: 20px;
  }
  .contact,
  .search-cart-login {
    display: none;
  }
  .nav-links {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.7s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s;
    flex-direction: column;
    align-items: flex-center;
    margin: 0 auto;
    position: absolute;
    top: 55px;
    left: 0;
    width: 230px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-left: 0;
    z-index: 999;
  }
  .nav-links.active {
    max-height: 500px; /* Large enough to fit all menu items */
    opacity: 1;
    transition: max-height 0.7s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s;
    display: flex;
  }
  .navbar {
    background-color: #001331;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 18px 0 18px 0;
  }
  .hero-content {
    justify-content: center;
    align-items: center;
    max-width: none;
    width: 100%;
    top: 60%;
    left: 0;
  }
}
